body{
    margin: 0%;
    font-family: 'Lato', sans-serif;
}
.SectionHeader{
    height: 90px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    font-size: 25px;
    margin-top: 40px;
}
.Space{
    height: 60px;
}

.HeaderBody{
    height: 94vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../images/ecom_image5.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

}
.opac{
    width: 100%;
    height: 750px;
    background-color: #463F3A;
    z-index: 998;
    position: absolute;
    opacity: .4;
}
.HeaderContainer{
    height: 25%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.HeaderTitle{
    font-family: 'Karla', sans-serif;
    font-size: 50px;
    font-weight: bold;
}
.HeaderDescription{
    font-family: 'Karla', sans-serif;
    font-size: 40px;
}
.HeaderButton{
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 20px;
    background-color: #54595F;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    z-index: 999;
    margin-top: 20px;
}

.ProjectsBody{
    height: 380px;
    display: flex;
    flex-direction: row;
}
.ProjectArea{
    height: 100%;
    width: 30%;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
}
.ProjectImage{
    width: 100%;
    height: 300px;
    background-color: gray;
    border-radius: 15px;
    margin-bottom: 5px;
    box-shadow: 3px 3px #ededed;
}
.ProjectTitle{
    margin-bottom: 5px;
    color: black;
}
.ProjectTag{
    color: gray;
}
.ProjectAll{
    padding-left: 40px;
    color: #678d58;
    font-size: 20px;
}

.SummaryContainer{
    height: 500px;
    display: flex;
    align-items: center;
    background-color: #F6F6F6;
}
.SummaryImage{
    background-color: #54595F;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 35px;
    font-family: 'Anton', sans-serif;

}
.SummaryArea{
    width: 40%;
    height: 65%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.SummaryBody{
    width: 70%;
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
}
.detail{
    width: 70%;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5;
}
.SummaryArt{
    display: flex;
    width: 70%;
}
.SummaryCircle{
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin-right: 20px;
}
.DescriptionHolder{
    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ServicesContainer{
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ServiceArea{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ServiceImage{
    background-image: url(../images/building.png);
    height: 80%;
    width: 65%;
    background-repeat: no-repeat;
    background-position: center;
}
.ServiceDesciptionArea{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
    height: 55%;
}
.ServiceTitle{
    font-size: 40px;
    color: white;
    font-family: 'Anton', sans-serif;
}
.ServiceDesciption{
    font-size: 18px;
    letter-spacing: 1px;
}